.heading{
    text-align: center;
    background-image: linear-gradient(205deg, #415094 0%, #764ba2 100%);
    color: white;
    padding: 40px;
    font-size: 1.3em;

}
.choose{
    text-align: center;
}

.container1{
    height: 150px;
    background-color: white;
    border: auto solid black;
    border-radius: 20px;
    margin-left: 200px;
    box-shadow: 0 0 10px rgb(232, 225, 225);
    padding: 30px;
}
.container1:hover{
    box-shadow: 20px 20px 10px rgb(232, 225, 225);
    transition: 0.3s;
    transform: scale(1.05);
    background-color: rgb(191, 200, 220 );
}
.container2{
    height: 150px;
    background-color: white;
    border: auto solid black;
    box-shadow: 0 0 10px rgb(232, 225, 225);
    border-radius: 20px;
    padding: 30px;
    margin-right: 200px;
}
.container2:hover{
    box-shadow: 20px 20px 10px rgb(232, 225, 225);
    transition: 0.3s;
    transform: scale(1.05);
    background-color: rgb(191, 200, 220);
}
.flex{
    display: flex;
    gap: 200px;

}
    
    

