.heading{
    text-align: center;
    background-image: linear-gradient(205deg, #415094 0%, #764ba2 100%);
    color: white;
    padding: 40px;
    font-size: 1.3em;

}

.btn-html {
    color: #f3f4f8;
    background-color: #d653c7;
    border-radius: 100px;
    padding: 10px 20px;
    text-decoration: none;
    transition: 0.3s;
    display:inline-block; 
    margin-right: 100px;
    
    
   
}
.html :hover{
    text-align:left;
    transform: scale(1.05);   
    justify-content: left;
}
.btn-css {
    color: #f3f4f8;
    background-color: #d653c7;
    border-radius: 100px;
    padding: 10px 20px;
    text-decoration: none;
    transition: 0.3s;
    display:inline-block; 
    margin-left: 100px;

}
.css :hover{
    transform: scale(1.05);   
    justify-content: left;
}