.hero {
    background: #2A0155; 
    color: white;
    padding-bottom: 200px;
    
}

.first {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 80px;
}


.left {
    display: flex;
    
    gap: 10px;
}

.logo {
    width: 55px;
}

.brand {
    font-size: 26px;
    font-weight: bold;
}


.center {
    display: flex;
    gap: 35px;
}

.center a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}

.btn {
    padding: 10px 25px;
    border-radius: 25px;
    border: 2px solid #ff6f61;
    background: transparent;
    color: white;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
}



.second {
    margin-top: 120px;
    margin-left: 80px;
}

.second h1 {
    font-size: 80px;
    line-height: 1.1;
    margin-bottom: 25px;
    font-weight: 800;
}

.second p {
    font-size: 22px;
    margin-bottom: 40px;
}

.second-btn {
    padding: 15px 35px;
    background: #ff6f61;
    color: white;
    border: none;
    border-radius: 30px;
    font-size: 18px;
    cursor: pointer;
    font-weight: 600;
}

.illu {
    width: 420px;
    position: absolute;
    right: 120px;
    top: 180px;
}
.prices{
    background-color: #2A0155;
    color: white;
    padding: 40px;
}
.prices h2{
    font-size: 35px;
    text-align: center;
}
.crypto-table {
    width: 100%;
    border-collapse: collapse;
    color: white;
    font-family: Arial;
    font-size: 16px;
}


.crypto-table thead th {
    padding: 14px 10px;
    font-size: 15px;
    font-weight: 600;
    border-bottom: 1px solid rgba(255,255,255,0.25);
    color: #d4c7ff;
    text-align: left;
}

.info-icon {
    width: 20px;
    vertical-align: middle;
    margin-left: 4px;
}


.crypto-table tbody tr {
    height: 70px;
    border-bottom: 1px solid rgba(255,255,255,0.18);
}

.crypto-table td {
    padding: 12px 12px;
    vertical-align: middle;
}

.star-icon {
    width: 16px;
    vertical-align: middle;
    margin-right: 8px;
}


.name-cell {
    display: flex;
    align-items: center;
    gap: 10px;
}

.coin-icon {
    width: 30px;
}

.coin-name {
    font-weight: 600;
}

.coin-symbol {
    color: #9f8de3;
    font-size: 13px;
    margin-left: 5px;
}


.green {
    color: #2ee56a;
    font-weight: 600;
}

.red {
    color: #ff4e4e;
    font-weight: 600;
}

.btc {
    font-size: 13px;
    color: #a8a8ff;
}


.chart-cell {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.chart {
    width: 130px;
}

.menu {
    width: 16px;
    opacity: 0.7;
}




