.hero {
    background: #2A0155; 
    color: white;
    padding-bottom: 200px;
    
}

.first {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 80px;
}


.left {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo {
    width: 55px;
}

.brand {
    font-size: 26px;
    font-weight: bold;
}


.center {
    display: flex;
    gap: 35px;
}

.center a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}

.btn {
    padding: 10px 25px;
    border-radius: 25px;
    border: 2px solid #ff6f61;
    background: transparent;
    color: white;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
}



.second {
    margin-top: 120px;
    margin-left: 80px;
}

.second h1 {
    font-size: 80px;
    line-height: 1.1;
    margin-bottom: 25px;
    font-weight: 800;
}

.second p {
    font-size: 22px;
    margin-bottom: 40px;
}

.second-btn {
    padding: 15px 35px;
    background: #ff6f61;
    color: white;
    border: none;
    border-radius: 30px;
    font-size: 18px;
    cursor: pointer;
    font-weight: 600;
}

.illu {
    width: 420px;
    position: absolute;
    right: 120px;
    top: 180px;
}
.prices{
    background-color: #2A0155;
    color: white;
}
.prices h2{
    font-size: 35px;
    text-align: center;
}
table {
    width: 100%;
    border-collapse: collapse; 
    
}
.line{
    border-bottom: 1px solid;
   
}
