
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}


header {
    background: linear-gradient(to right, #4facfe, #000f0f);
    padding: 20px;
    text-align: center;
}

header nav a {
    color: white;
    text-decoration: none;
    margin: 0 20px;
    font-size: 18px;
}

header nav a:hover {
    color: #ffd700;
}


h1 {
    text-align: center;
    margin: 40px 0 20px;
}

.card-container {
    display: flex;
    justify-content: center;
    
    gap: 20px;
    padding: 20px;
}


.card {
    background-color: white;
    width: 250px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    transition: transform 0.3s, background-color 0.3s;
    text-align: center;
}

.card img {
    width: 100%;
    height: 150px;
   
}

.card p {
    padding: 15px;
    font-size: 14px;
    color: #333;
}


.card:hover {
    transform:scale(1.1);
    background-color: #e0f7fa;
}


footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 15px 0;
    margin-top: 40px;
}
