body{
    font-family:Arial, Helvetica, sans-serif;
}


.navbar {
    display: flex;
    justify-content: center;
    padding: 8px;
    background-color: rgb(245, 250, 250);
}

.nav-logo {
    color: rgb(68, 68, 191);
    margin-right: 700px;
}

.nav-list {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 24px;
    text-decoration: none;
    
   
}
.nav-list a{
    text-decoration: none;
    color: lightslategray
}

.nav-btn {
    background-color: rgb(73, 73, 246);
    margin-left: 20px;
    cursor: pointer;
    border-radius: 8px;
    width: 120px;
    height: 40px;
    margin-top: 14px;
    margin-right: 100px;
}
.hero{
   background-color: rgb(224, 223, 223);
   padding: 100px;
   display: flex;
}
.req-btn{
    background-color: rgb(250, 162, 21);
    color: rgb(15, 59, 168);
    border-radius: 8px;
    padding: 10px;
    width: 120px;
    height: 50px;
    font-weight: bold;
}
.h1{
    color:rgb(69, 46, 198);
}
img{
    margin-left:80px;
}
.para{
    margin-left: 145px;
}
h2{
    text-align: center;
}
.programs-section {
    background: #b8b1b1;
    padding: 40px 20px;
    text-align: center;
    font-family: Arial, sans-serif;
}

.programs-section h2 {
    font-size: 28px;
    margin-bottom: 30px;
    color: #333;
}

.program-cards {
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
}

.card {
    width: 280px;
    background: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 3px 6px rgba(0,0,0,0.2);
}

.card-header {
    padding: 25px 0;
    color: white;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
}

.engineering { background: #f4a000; }
.business { background: #0bb57b; }
.arts { background: #9b65ff; }

.card-body {
    padding: 20px;
    text-align: left;
}

.card-body h3 {
    margin: 0 0 10px;
    color: #0056b3;
    font-size: 18px;
}

.card-body p {
    font-size: 14px;
    color: #444;
    line-height: 1.4;
}

.card-body a {
    display: inline-block;
    margin-top: 10px;
    color: #0056b3;
    font-weight: bold;
    text-decoration: none;
}




  