.navbar {
    display: flex;
    justify-content: center;
    padding: 8px;
    background-color: rgb(245, 250, 250);
}

.nav-logo {
    color: rgb(68, 68, 191);
    margin-right: 700px;
}

.nav-list {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 24px;
    text-decoration: none;
}
.nav-list a{
    text-decoration: none;
}

.nav-btn {
    background-color: rgb(73, 73, 246);
    margin-left: 20px;
    cursor: pointer;
    border-radius: 8px;
    width: 120px;
    height: 40px;
    margin-top: 14px;
    margin-right: 100px;
}
.hero{
   background-color: lightgrey;
   padding: 100px;
}
.req-btn{
    background-color: rgb(236, 207, 42);
    color: rgb(66, 66, 151);
    border-radius: 8px;
    padding: 10px;
    width: 100px;
    height: 40px;
}
.h1{
    color:rgb(69, 46, 198);
}
