body{
  margin: 0;
  font-family: "Merriweather";
  background: #fff;   /* side grey like Bridge */
  
}


.header{
  background: #fff;
  padding: 35px 0 25px;
  /* max-width: 1200px;      */
  /* margin: 0 auto;        */
}


.header-inner{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo img{
  width: 90px;
  margin-bottom: 20px;
}

.nav{
  display: flex;
  gap: 40px;
}

.nav a{
  text-decoration: none;
  font-size: 14px;
  letter-spacing: 3px;
  color: #b3aeb0;
  text-transform: uppercase;
  transition: color 0.3s ease;
}

.nav a:hover,
.nav a.active{
  color: #5a4a55;
}
.first-image img{
    margin-left: 80px;
   
}
.oct {
    margin-left: 500px;
    color: #BEBEBE;
    
    
}
.first-text{
    margin-top: 40px;
}
.trans{
    color: #532446;
    font-size: 25px;
    font-family: "Merriweather";
}
.posted p{
    text-align: center;
    color: #BEBEBE;

}
.posted a{
    text-decoration: none;
    color: #BEBEBE;
}
.posted a:hover{
    color: #532446;
}
.para p{
    text-align: center;
    color: #BEBEBE;
}


.share-box{
  position: relative;
  display: inline-block;
}


.share-tooltip{
  position: absolute;
  bottom: -125px;
  right: -10px;
  background: #2b2b2b;
  padding: 6px 8px;
  border-radius: 6px;

  display: flex;
  flex-direction:column;
  gap: 8px;

  opacity: 0;
  visibility: hidden;
  transform: translateY(6px);
  transition: all 0.3s ease;
  z-index: 999;
}


.share-tooltip::after{
  content: "";
  position: absolute;
  bottom: -6px;
  right: 16px;
  border: 6px solid transparent;
  border-top-color: #2b2b2b;
}


.share-tooltip a{
  width: 30px;
  height: 30px;
  background: #3d3d3d;
  color: #fff !important;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  text-decoration: none;
  font-size: 14px;
}


.share-tooltip a:hover{
  background: #532446;
}


.share-box:hover .share-tooltip{
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.hero-slider{
  width: 100%;
  height: 70vh;
}

.carousel,
.carousel-inner,
.carousel-item{
  height: 100%;
}

.slide-bg{
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}


.carousel-control-prev-icon,
.carousel-control-next-icon{
  filter: invert(1);
}
.blog1-image{
    margin-left: 130px;
    width: 1000px;
    height: 600px;
    margin-top: 50px;
}
.blog2-image{
    margin-left: 150px;
    width: 1000px;
    height: 600px;
    margin-top: 50px;
}
.icons-num {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 50px;
}


.icon {
    border: 2px solid #e5e5e5;
    border-radius: 6px;
    padding: 10px 14px;
    font-size: 18px;
    color: #999;
    cursor: pointer;
    
}


.num {
    border: 2px solid #e5e5e5;
    border-radius: 6px;
    padding: 10px 16px;
    font-size: 16px;
    color: #999;
    cursor: pointer;
}


.num.active {
    background-color: #e5e5e5;
    color: #000;
    border-color: #e5e5e5;
    
}


.icon:hover,
.num:hover {
    background-color: #bcbcbc;
    color: #000;
}
.footer-bottom{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 50px;
  background: #F6F6F6;
  border-top: 1px solid #eee;
}


.footer-left a{
  margin-right: 20px;
  text-decoration: none;
  color: #b3b3b3;
  font-size: 15px;
}

.footer-left a:hover{
  color: #3b2a34;
}


.footer-center{
  display: flex;
  gap: 15px;
}

.footer-center a{
  width: 25px;
  height: 25px;
  background: #cfcfcf;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-decoration: none;
  
}

.footer-center a:hover{
  background: #3b2a34;
}


.footer-right p{
  color: #b3b3b3;
  font-size: 15px;
}

.footer-right a{
  color: #b3b3b3;
  font-size: 15px;
  text-decoration: none ;
}
.footer-right a:hover{
  color: #3b2a34;
}


#backToTop{
  position: fixed;
  bottom: 25px;
  right: 25px;

  width: 45px;
  height: 45px;
  border-radius: 50%;

  background-color: #3b2a34;
  color: #fff;

  border: none;
  outline: none;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 22px;
  cursor: pointer;

  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;

  z-index: 1000;
}

#backToTop:hover{
  background-color: #532446;
}


#backToTop.show{
  opacity: 1;
  visibility: visible;
}
