body{
  margin: 0;
  font-family: "Merriweather";
  background: #fff;   
  
}


.header{
  background: #fff;
  padding: 35px 0 25px;
  /* max-width: 1200px;      */
  /* margin: 0 auto;        */
}


.header-inner{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo img{
  width: 90px;
  margin-bottom: 20px;
}

.nav{
  display: flex;
  gap: 40px;
}

.nav a{
  text-decoration: none;
  font-size: 14px;
  letter-spacing: 3px;
  color: #b3aeb0;
  text-transform: uppercase;
  transition: color 0.3s ease;
}

.nav a:hover,
.nav a.active{
  color: #5a4a55;
}

.glass{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.glass img{
  width: 200px;
  height: 200px;
}

.about-glass{
  position: relative;
  width: 250px;
}

.about-glass img{
  width: 250px;
  height: 250px;
  display: block;
}

.about-glass p{
  font-size: 16px;
  margin-top: 10px;
  color: #333;
  text-align: center;
}

.about-glass p:hover{
  color: #7c5a65;
}

.about-glass a{
  text-decoration: none;
  color: #333;
}

.about-glass a:hover{
  color: #7c5a65;
}
.sale{
  position:absolute;          
  top: 10px;
  left: 15px;
  background-color: #3b2a34;  
  color: #ffffff;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 600;
  z-index: 10;
}


.hover-cart{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 250px;
  background: rgba(59, 42, 52, 0.75);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}


.hover-cart button{
  background-color: #3b2a34;
  color: #fff;
  border: 1px solid transparent;
  padding: 12px 22px;
  font-size: 13px;
  letter-spacing: 1px;
  cursor: pointer;
}

.hover-cart button:hover{
  background-color: #3b2a34;
  color: #fff;
}


.about-glass:hover .hover-cart{
  opacity: 1;
}
.sale1{
  position:absolute;          
  top: 10px;
  left: 15px;
  background-color: #A4939D;  
  color: #ffffff;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 600;
  z-index: 10;
  padding: 7px;
}
.footer-bottom{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 50px;
  background: #F6F6F6;
  border-top: 1px solid #eee;
}

/* LEFT MENU */
.footer-left a{
  margin-right: 20px;
  text-decoration: none;
  color: #b3b3b3;
  font-size: 15px;
}

.footer-left a:hover{
  color: #3b2a34;
}


.footer-center{
  display: flex;
  gap: 15px;
}

.footer-center a{
  width: 25px;
  height: 25px;
  background: #cfcfcf;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-decoration: none;
  
}

.footer-center a:hover{
  background: #3b2a34;
}


.footer-right p{
  color: #b3b3b3;
  font-size: 15px;
}
.footer-right a{
  color: #b3b3b3;
  font-size: 15px;
  text-decoration: none ;
}
.footer-right a:hover{
  color: #3b2a34;
}