.header{
  background: #fff;
  padding: 40px 0 30px;
}


.container{
  max-width: 1200px;
  margin: 0 auto;
}


.header-flex{
  display: flex;
  flex-direction: column;
  align-items: center;
}


.logo-box img{
  width: 90px;
  height: auto;
  margin-bottom: 25px;
}


.nav{
  display: flex;
  gap: 40px;
}


.nav a{
  text-decoration: none;
  font-size: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #b3aeb0;
  transition: color 0.3s ease;
}


.nav a:hover,
.nav a.active{
  color: #5a4a55;
}
