*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}


.header{
  background: #fff;
  padding: 35px 0 25px;
}

.header-inner{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo img{
  width: 90px;
  margin-bottom: 20px;
}


.nav{
  display: flex;
  gap: 40px;
}

.nav a{
  text-decoration: none;
  font-size: 14px;
  letter-spacing: 3px;
  color: #b3aeb0;
  text-transform: uppercase;
  transition: color 0.3s ease;
}

.nav a:hover,
.nav a.active{
  color: #5a4a55;
}


.hero-slider{
  width: 100%;
  height: 70vh;
}

.carousel,
.carousel-inner,
.carousel-item{
  height: 100%;
}

.slide-bg{
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}


.carousel-control-prev-icon,
.carousel-control-next-icon{
  filter: invert(1);
}

.about-bridge{
  padding: 80px 0;
  text-align: center;
  background: #fff;
}


.about-title{
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 30px;
  width: 100%;
}


.about-title .line{
  flex: 1;                 
  height: 1px;
  background: #e5e5e5;
}


.about-title h2{
  font-size: 22px;
  letter-spacing: 2px;
  font-family: "Times New Roman", serif;
  color: #1f1f1f;
      
}


.about-text{
  max-width: 900px;
  margin: 0 auto;
  font-size: 16px;
  line-height: 28px;
  color: #9a9a9a;
  font-family: Georgia, serif;
}
.sale-section{
  display: flex;
  gap: 40px;
  justify-content: center;
  padding: 80px 0;
}


.sale-box{
  position: relative;
  width: 350px;
  height: 230px;
  overflow: hidden;
  margin-top: -130px;
}


.sale-box img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}


.overlay{
  position: absolute;
  inset: 0;
  background: rgba(70, 60, 65, 0.75);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  opacity: 0;
  transition: opacity 0.4s ease;
}


.overlay h2{
  color: #fff;
  font-family: "Times New Roman", serif;
  font-size: 32px;
  letter-spacing: 2px;
}

.overlay h2 span{
  font-size: 28px;
  font-weight: normal;
}


.sale-box:hover .overlay{
  opacity: 1;
}
.about-title1{
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 30px;
  width: 100%;
}


.about-title1 .line1{
  flex: 1;                 
  height: 1px;
  background: #e5e5e5;
}


.about-title1 h2{
  font-size: 22px;
  letter-spacing: 2px;
  font-family: "Times New Roman", serif;
  color: #1f1f1f;
      
}
.glass{
  display: flex;
  justify-content: center;
  align-items: center;
}
.glass img{
  width: 200px;
  height: 200px;
}