.top-bar {
  background: #FFFFFF;
  padding: 10px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 11px;
  margin-top: -10px;
  font-family: "poppins";
  
}

.top-left {
  display: flex;
  align-items: center;
  gap: 10px;
  
}

.top-left span {
  font-weight: bold;
}


.top-left img {
  width: 16px;
  height: 16px;
  cursor: pointer;
}
.top-left img:hover{
   background-color: #A4A4D7;
   
}
.top-right a {
  margin-right: 20px;
  text-decoration: none;
  color: #000;
  font-weight: bold;
}
.top-right a:hover{
    color: #FF8C82;
}

.top-right span {
  font-weight: bold;
  margin-right: 30px;
}
.number:hover{
    color: #FF8C82;
    cursor: pointer;
}

.main-header {
  padding: 25px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #eee;
  font-family: "poppins";
}


.logo {
  font-size: 40px;
  font-weight: 700;
  color: #333;
}


.nav-links a {
  margin-left: 35px;
  text-decoration: none;
  color: #888;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 12px;
}

.nav-links a.active {
  color: #000;
}

.nav-links a:hover {
  color: #000;
}
.hero1{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F1F1FE;
    font-family: "poppins";
    gap: 40px;
    
}
.hero3 img{
    
    height: 300px;
    width: 460px;
    margin-right: 30px;
    margin-top: 90px;
}
.hero2 h1{
    font-size: 60px;
    margin-left: 70px;
    color: #322E43;
    
}
.hero p{
    font-size: 19px;
    margin-left: 70px;
    color: lightslategray;
    margin-top: -30px;
}
.hero2 button{
    padding: 20px 40px 20px 40px;
    border-radius: 40px;
    background-color: #6464F9;
    color: white;
    margin-left: 70px;
    font-weight: bold;
    cursor: pointer;
    border: transparent;
}
.hero2 button:hover{
    background-color: #FF7182;
}
.hero1{
    padding-top: 200px;
    padding-bottom: 200px;
}
.four-images{
  display: flex;
  justify-content: space-between;
  padding: 100px;
}
.all-four{
  font-family: "poppins";
}
.all-four h2{
  font-size: 22px;
  color: #322E43;
}
.all-four p{
  color: #9FA0A5;
  font-size: 16px;
}

.third-image{
  margin-top: -10px;
}
.Reasons{
  background-image: url("./images/section-background-image-3-1.jpeg");
  background-repeat: no-repeat;
  background-size:cover;
  background-position:center;
  
}

.reasons-section{
  display: flex;
  justify-content: space-around;
}
.reasons-image img{
   width: 480px;
   margin-top: 150px;
}
.reasons-text h1{
  font-size: 40px;
}
.reasons-text b{
  font-size: 20px;
  font-family: "poppins";
}
.reasons-text p{
  color: #9FA0B9;
  font-family: "poppins";
  line-height: 27px;
}
.reasons-text img{
  width: 30px;
}
